<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Predire un chiffre</title>
  <link rel="stylesheet" href="./static/style.css">
</head>
<body>
  <div class="container">
    <!-- Boutons Clear et Save -->
    <div>
      <button id="clear-btn">Effacer</button>
      <button id="save-btn">Prédire le chiffre</button>
    </div>
    <!-- Canvas de dessin 28×28 pixels -->
    <canvas id="canvas" width="28" height="28"></canvas>

  </div>
<script src="./static/script.js"></script>

</body>
</html>
